body {
  margin: 10px;
}

.title {
  text-align: center;
}

.cuadradosMedios h3 {
  text-align: center;
}

logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer p {
  text-align: center;
}

.copyright {
  color: #878787;
  font-size: 17px;
}
